:root {
  --color1: #52616b;
  --color2: #1e2022;
  --color3: #f0f5f9;
  --color4: #daa533;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 2;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.8rem;
}

@media (min-width: 768px) {
  h1 {
      font-size: 4rem;
  }
}

h2 {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  h2 {
      font-size: 3.5rem;
  }
}

h3 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h3 {
      font-size: 2.5rem;
  }
}

#navigation a:hover {
  color: var(--color4) !important;
}

.text-primary {
  color: var(--color1) !important;
}

.text-secondary {
  color: var(--color2) !important;
}

.text-third {
  color: var(--color4);
}

.bg-primary,
.btn-primary {
  background-color: var(--color1) !important;
  border-color: var(--color1) !important;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--color2) !important;
}

.bg-third,
.btn-third {
  background-color: var(--color4) !important;
}

.cart-image {
  max-height: 10rem;
}

.cart-widget-container {
  position: relative;
  display: inline-block;
}

.cart-item-count {
  position: absolute;
  top: -3px;
  right: -4px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  padding-inline: 6px;
  padding-block: 0px;
  font-size: 1rem;
}

.cart-widget-container:hover .cart-item-count {
  background-color: var(--color4);
}

@media(max-width: 768px) {
  .cart-item-count {
    top: -5px;
  }
}

.products-container {
  height: auto;
}

.product h3 {
  color: var(--color3);
}

.product .aspect-ratio-container {
  position: relative;
  overflow: hidden;
  padding-top: calc(16 / 9 * 50%);
}

.product .aspect-ratio-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product .price {
  color: #deb150;
}

.product .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 768px) {
  .product .card-body {
      height: auto;
  }
}

.disabled-button {
  pointer-events: none !important;
  text-decoration: none !important;
}